<h2 mat-dialog-title>Order Details (Order ID: {{ data.orderId }})</h2>
<mat-dialog-content>
  <div *ngIf="cartItems?.length > 0; else noItems">
    <mat-table [dataSource]="cartItems" class="mat-elevation-z8">
      <!-- Product Name Column -->
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.productName }} </mat-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.quantity }} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.price | currency:' '}} </mat-cell>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.price * item.quantity | currency:' ' }} </mat-cell>
      </ng-container>

      <!-- Define Header and Row -->
      <mat-header-row *matHeaderRowDef="['productName', 'quantity', 'price', 'total']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['productName', 'quantity', 'price', 'total'];"></mat-row>
    </mat-table>

    <h4>Total Amount : {{totalAmount | currency:'INR'}}</h4>

  </div>

  <ng-template #noItems>
    <p>No cart items found for this order.</p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
