<div class="container">

  <mat-card>

    <mat-card-title>Sign Up</mat-card-title>

    <mat-card-content>
      <!-- SignUp Form -->
      <form [formGroup]="signupForm">

        <!-- Name -->
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" required="">
          <mat-error *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
            Please enter a valid name.
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" required="">
          <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="{{hidePassword?'password':'text'}}" formControlName="password" placeholder="Password" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            Please enter a valid password.
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="{{hideConfirmPassword?'password':'text'}}" formControlName="confirmPassword" placeholder="Re-Enter Password" required>
          <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{hideConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
            Password does not match!!!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">Sign Up</button>

      </form>

    </mat-card-content>

  </mat-card>

</div>
