/* General Styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

mat-card-title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  color: #00796b;
  font-weight: bold;
}

/* Form Fields */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  font-size: 1.1em;
  color: #555;
}

input[matInput] {
  padding: 12px;
}

button[mat-icon-button] {
  color: #555;
}

mat-error {
  font-size: 0.9em;
  color: #f44336;
}

/* Submit Button */
button[mat-raised-button] {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  background-color: #00796b;
  color: #fff;
  transition: background-color 0.3s ease;
}

button[mat-raised-button]:disabled {
  background-color: #b0bec5;
}

button[mat-raised-button]:hover {
  background-color: #00695c;
}

/* Snackbar Error Styling */
.error-snackbar {
  background-color: #f44336;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  mat-card {
    width: 90%;
    padding: 15px;
  }

  mat-card-title {
    font-size: 1.5em;
  }

  button[mat-raised-button] {
    font-size: 1em;
    padding: 10px;
  }
}
